html{
    margin:0;
    padding: 0;
    overflow-x : hidden;
}

header{
    background-color: #f57900;
    margin: 0;
}

header img{
    width : 10%;
}

main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
}


.restau{
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
    color: #f57900;
}

.login-container{
    display:none;
}

footer{
    background-color: #f57900;
    margin: 0;
    padding: 0;
    padding-bottom: 91px ;
}